.fixed_icon{  
    position: absolute;
    top: 0;
    right: -22px;
    background-color : white;
    font-size : small;
    line-height : 1;
    opacity: 0.8;
    font-family: sans;
    vertical-align: top;
}

.highlight_fixes ins{
    color: blue;
}

.highlight_fixes del{
    color: red;
}

