* {
    /* I'll let you know when I want a margin, thanks! */
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    background-image: url(/img/paper-d1b69c.png);
    flex-direction: column;
}

a {
    color: black;
    text-decoration: inherit !important;
}

#header{
    position: fixed;
    background-color: rgba(255, 228, 196, 0.7);
    height: 50px;
    top: 0;
    border-bottom: thick rgba(176, 66, 66, 0.5) solid;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    left: 0;
    right: 0;
    padding-left: 5%;
    padding-right: 5%;

}

#header>div, #header>h1{
    line-height: 0.67;
    bottom: 0;
    flex-grow: 1;
}

#header>div {
    text-align: center;
    font-variant: small-caps;
}

#header>div, #header>h1, #login-buttons{
    flex-basis: 300px;
    text-align: right;
}

#header h1{
    font-family: 'Dawning of a New Day';
    font-size: 80px;
    color: rgb(176, 66, 66);
    text-align: left;
}

#beta{
    font-family: monospace;
    font-size: initial;
    color: black;
    font-variant: small-caps;
    vertical-align: super;
}

a {
    text-shadow: 0px 0px 6px rgb(186, 66, 66);
    cursor: hand;
    cursor: pointer;
}

a:hover{
    text-shadow: 0px 0px 3px rgb(176, 66, 66);
    color: rgb(176, 66, 66);
}

#login-buttons{
    z-index: 2;
    text-align: right;
    flex-shrink: 3;
}

#ext_dwnld{
    text-align: center;
}
/* "fix" here is this app's term for an edit made on some other page, displayed here. */

.fixes{
    position: absolute;
    top: 50px;
}

.fix{
    flex-direction: column;
    display: flex;
    margin-top: 1.5em;
    background-color: rgba(255, 228, 196, 0.5);
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);

}

/* Add a margin if our window is wide */
@media (min-width: 700px){
    .fix {
        margin-left: 10%;
        margin-right: 10%;
    }
}

.fix_header, .fix_body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fix_header{
    border-bottom: double black;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.5em;
    line-height: 0.67;
}

.fix_header>div{
    flex: 1 1 auto;
}

.url{
    text-align: center;
    flex-shrink: 1;
}

.timestamp{
    text-align: right;
    flex-shrink: 3;
}

.author{
    flex-shrink: 2;
}

.fix_body{
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.contents{
    margin: 1em;
    flex: 1;
}

.voting{
    border-right: thin black solid;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 1em;
    padding-left: 1em;
}

#vote_aye{
    text-shadow: 0px 0px 10px rgb(66, 138, 176);
    cursor: hand;
    cursor: pointer;
}

#vote_nay{
    text-shadow: 0px 0px 10px rgb(176, 66, 66);
    cursor: hand;
    cursor: pointer;
}

#vote_aye:hover, #voteAye.voted{
    text-shadow: 0px 0px 4px rgb(66, 138, 176);
    color: rgb(66, 138, 176);
}

#vote_nay:hover, #voteNay.voted{
    text-shadow: 0px 0px 4px rgb(176, 66, 66);
    color: rgb(176, 66, 66);
}

#credits{
    position: fixed;
    bottom: 0;
    right: 5%;
    background-color: rgba(255, 228, 196, 0.7);
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#delete_fix{
    color: grey;
    margin-right: 1em;
}

#delete_fix > span:hover{
    color: #ff4d4d;
}

del{
    color: rgb(176, 66, 66);
}

ins{
    color: rgb(66, 138, 176);
}