body{
    margin: 0;
    background-color: bisque;
    flex-direction: column;
}

h1{
    margin-bottom: 0;
    vertical-align: baseline;
    line-height: 0.69;
}

#header{
    flex: 0 1 10%;
    display: flex;
    align-items: flex-end;
    background-color: #d1b69c;
    width: 100%;
    height: 80px;
    top: 0;
}

/* "fix" here is this app's term for an edit made on some other page, displayed here. */

.fix{
    flex-direction: column;
    display: flex;
    margin-top: 1em;
    background-color: #d1b69c;
    border-radius: 5px;
}

/* Add a margin if our window is wide */
@media (min-width: 1000px){
    .fix {
        margin-left: 10%;
        margin-right: 10%;
    }
}

.fix_header, .fix_body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fix_header{
    border-bottom: double black;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.5em;
}

.fix_body{
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.contents{
    margin: 1em;
    flex: 1;
}

.voting{
    border-right: thin black solid;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 1em;
    padding-left: 1em;
}

#vote_aye:hover, #voteAye.voted{
    color: green;
}

#vote_nay:hover, #voteNay.voted{
    color: red;
}

#login-buttons{
    position: fixed;
    top: 2em;
    right: 0;
    margin: 20px;
}

#ext_dwnld {
    position: fixed;
    right: 1em;
    top: 1em;
}

#credits{
    position: fixed;
    bottom: 0;
    right: 20px;
}

#delete_fix{
    color: grey;
    margin-right: 1em;
}

#delete_fix > span:hover{
    color: #ff4d4d;
}

ins{
    color: #ff4d4d;
}

del{
    color: #8080ff;
}