* {
    /* I'll let you know when I want a margin, thanks! */
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    background-image: url(/img/paper-d1b69c.png);
    flex-direction: column;
}

a {
    color: inherit;
    text-decoration: inherit !important;
}

#header{
    position: fixed;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-color: bisque;
    width: 100%;
    height: 50px;
    top: 0;
    /*#d1b69c*/
    border-bottom: thick #fddab9 solid;
    z-index: 100;
}

#header div, #header h1{
    line-height: 0.67;
    position: absolute;
    bottom: 0;
}

#header h1{
    font-family: 'Dawning of a New Day';
    font-size: 50px;
    left: 5%;
}

#login-buttons{
    position: absolute;
    right: 5%;
}

#ext_dwnld {
    position: absolute;
    text-align: center;
    width: 100%;
}

/* "fix" here is this app's term for an edit made on some other page, displayed here. */

.fixes{
    position: absolute;
    top: 50px;
}

.fix{
    flex-direction: column;
    display: flex;
    margin-top: 1.5em;
    background-color: bisque;
    border-radius: 5px;
}

/* Add a margin if our window is wide */
@media (min-width: 1000px){
    .fix {
        margin-left: 10%;
        margin-right: 10%;
    }
}

.fix_header, .fix_body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fix_header{
    border-bottom: double black;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.5em;
    line-height: 0.67;
}

.fix_body{
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.contents{
    margin: 1em;
    flex: 1;
}

.voting{
    border-right: thin black solid;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 1em;
    padding-left: 1em;
}

#vote_aye:hover, #voteAye.voted{
    color: green;
}

#vote_nay:hover, #voteNay.voted{
    color: red;
}

#credits{
    position: fixed;
    bottom: 0;
    right: 5%;
}

#delete_fix{
    color: grey;
    margin-right: 1em;
}

#delete_fix > span:hover{
    color: #ff4d4d;
}

del{
    color: #ff4d4d;
}

ins{
    color: #8080ff;
}